@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --FONT-FAMILY: 'IBM Plex Sans', 'sans-serif';
  --HEADING-FONT-WEIGHT: 400;
}

html {
  scroll-behavior: smooth;
  font-family: var(--FONT-FAMILY);
}

body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  background-color: black;
}

header {
  display: flex;
  margin-block: 2rem;
  flex-flow: column nowrap;
  align-items: center;
}

.heading {
  color: white;
  font-size: 3rem;
  font-weight: var(--HEADING-FONT-WEIGHT);
}

.header-sub-text {
  color: grey;
  margin-top: 1rem;
  white-space: wrap;
  line-height: 1.5;
  font-size: 1.25rem;
  width: 500px;
  text-align: center;
}

.status-div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.inner-status-div {
  background-color: seagreen;
  line-height: 1.75;
  padding: 1rem 1rem;
  color: white;
  width: 550px;
  border-radius: 8px;
  text-align: center;
}
