@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --FONT-FAMILY: 'IBM Plex Sans', 'sans-serif';
  --HEADING-FONT-WEIGHT: 400;
  --NORMAL-FONT-WEIGHT: 500;
}

html {
  scroll-behavior: smooth;
  font-family: var(--FONT-FAMILY);
}

body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  background-color: #222222;
}

header {
  display: flex;
  margin-block: 2rem;
  flex-flow: column nowrap;
  align-items: center;
}

.heading {
  color: white;
  font-size: 3rem;
  font-weight: var(--HEADING-FONT-WEIGHT);
}

.header-sub-text {
  color: grey;
  margin-top: 1rem;
  white-space: normal;
  line-height: 1.5;
  font-size: 1.25rem;
  width: 500px;
  text-align: center;
}

.status-div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.inner-status-div {
  background-color: seagreen;
  line-height: 1.75;
  padding: 1rem 1rem;
  color: white;
  width: 550px;
  border-radius: 8px;
  text-align: center;
}

.main-languages-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-block: 4rem;
  gap: 10px 5px;
}

.inner-main-lang-div {
  display: flex;
  flex-flow: row wrap;
  width: 400px;
  justify-content: center;
  gap: 5px 5px;
}

.lang-div {
  padding: 4px 5px;
  border-radius: 3px;
}

.input-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  column-gap: 5px;
}

.span-input {
  width: 28px;
  height: 28px;
  text-align: center;
  background-color: #2c2c2c;
  border-bottom: 2px solid grey;
}

.main-keyboard-div {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-block: 4rem;
}

.keyboard-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px 8px;
  width: 500px;
}

.keyboard-btn {
  width: 42px;
  height: 40px;
  background-color: #fcb22f;
  color: black;
  font-weight: var(--NORMAL-FONT-WEIGHT);
  border-radius: 5px;
  border: none;
}

.new-game-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-game-btn {
  width: 300px;
  font-size: 16px;
  height: 50px;
  background-color: #15abdf;
  color: black;
  font-weight: var(--NORMAL-FONT-WEIGHT);
  border: none;
  border-radius: 5px;
}

.active {
  background-color: green;
}

.incorrect {
    background-color: red;
}
