@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* TYPOGRAPHY :  */
  --font-family-base: 'IBM Plex Sans', 'sans-serif';
  --font-weight-heading: 400;
  --font-weight-body: 500;
  --font-size-heading-primary: 3rem;
  --font-size-heading-secondary: 1.5rem;
  --font-size-text-secondary: 1.25rem;

  /* COLORS :  */
  --color-bg: #222;
  --color-text-primary: #fff;
  --color-text-muted: grey;
  --color-status-success: seagreen;
  --color-button-border: white;
  --color-status-error: firebrick;
  --color-status-idle: #fcb22f;
  --color-input-unguessed: orangered;

  /* SPACING : */
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;

  /* SHAPE */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
}

html {
  font-family: var(--font-family-base);
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  min-height: 100vh;
}

header {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  margin-block: calc(var(--space-4) * 2);
  user-select: none;
}

.heading {
  color: var(--color-text-primary);
  font-size: clamp(
    calc(var(--font-size-heading-secondary) * 1.25),
    3vw,
    var(--font-size-heading-primary)
  );
  font-weight: var(--font-weight-heading);
}

.header-sub-text {
  color: var(--color-text-muted);
  font-size: var(--font-size-text-secondary);
  margin-top: var(--space-4);
  line-height: 1.5;
  text-align: center;
  width: clamp(300px, 25vw, 550px);
}

.status-div {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
}

.inner-status-div {
  border-radius: var(--radius-md);
  color: var(--color-text-primary);
  padding: calc(var(--space-2) * 2);
  text-align: center;
  width: clamp(300px, 50vw, 550px);
  height: clamp(120px, 6.5vw, 150px);
}

.status-primary-text {
  font-size: clamp(1.15rem, calc(1vw + 0.75rem), 2rem);
  font-weight: var(--font-weight-heading);
  line-height: 1.25;
}

.status-secondary-text {
  font-size: clamp(0.95rem, calc(0.6vw + 0.5rem), 1.3rem);
  font-weight: var(--font-weight-heading);
  line-height: 1.5;
  margin-block: var(--space-3);
}

.outer-lang-div {
  display: flex;
  justify-content: center;
  margin-block: calc(var(--space-4) * 4);
  width: 100%;
}

.inner-lang-div {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-1);
  justify-content: center;
  width: clamp(280px, 22vw, 550px);
}

.lang-btn {
  border: none;
  border-radius: var(--radius-sm);
  cursor: default;
  font-size: 14px;
  font-weight: var(--font-weight-body);
  height: fit-content;
  padding: 9px;
  width: fit-content;
}

.input-div {
  align-items: center;
  color: var(--color-text-primary);
  display: flex;
  gap: var(--space-1);
  justify-content: center;
  width: 100%;
}

.span-input {
  align-items: center;
  background-color: #2c2c2c;
  border-bottom: 2px solid var(--color-text-muted);
  display: flex;
  height: clamp(24px, 2vw, calc(var(--space-4) * 3));
  justify-content: center;
  user-select: none;
  width: clamp(24px, 2vw, calc(var(--space-4) * 3));
}

.main-keyboard-div {
  display: flex;
  justify-content: center;
  margin-block: calc(var(--space-4) * 4);
  width: 100%;
}

.keyboard-div {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-2);
  justify-content: center;
  width: clamp(300px, 32vw, 800px);
}

.keyboard-btn {
  border-radius: var(--radius-sm);
  border: none;
  color: black;
  font-weight: var(--font-weight-body);
  height: clamp(32px, 2.5vw, 64px);
  user-select: none;
  width: clamp(32px, 4vw, 84px);
}

.keyboard-btn.idle {
  background-color: var(--color-status-idle);
}

.keyboard-btn.correct {
  background-color: var(--color-status-success);
  border: 1px solid var(--color-button-border);
}

.keyboard-btn.highlighted {
  background-color: var(--color-status-idle);
  animation: fade-out 1.5s ease-in-out infinite 0s;
}

@keyframes fade-out {
  0% {
    background-color: var(--color-status-idle);
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color: var(--color-status-idle);
  }
}

.keyboard-btn.incorrect {
  background-color: var(--color-status-error);
  border: 1px solid var(--color-button-border);
}

.keyboard-btn:hover {
  cursor: pointer;
}

.keyboard-btn:active {
  transform: scale(0.95);
}

.keyboard-btn:disabled {
  cursor: not-allowed;
}

.span-input.unguessed {
  color: var(--color-input-unguessed);
}

.new-game-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-game-btn {
  background-color: #4265a1;
  border: none;
  border-radius: var(--radius-sm);
  color: var(--color-text-primary);
  font-size: var(--font-size-text-secondary);
  font-weight: var(--font-weight-body);
  height: clamp(40px, 3vw, 65px);
  width: clamp(200px, 16vw, 350px);
}
